{% extends "template.html" %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">

<div class="container mt-6" style="padding-bottom: 15em;">
    {% for officer in officerData %}
      {% if forloop.first %}<div class="row mt-3">{% endif %}
      <div class="col-sm center-block text-center">
      <div style="position: relative;">
        <div class="trigger-zone"></div>
        <img class="mt-3 rounded-top officer-picture officer-info" src="{{ officer.picture.url }}" alt="Officer Picture" width=200em height=200em>
        <h3 class="mt-2 mb-0 officer-info">{{ officer.name }}</h3>
        <div class="officer-info" style="font-size: 1.4em;">{{ officer.position }}</div>
        <a href="mailto:{{officer.email}}" class="officer-info" style="font-size:1.2em;"><i class="fas fa-envelope"></i></a>
        <div class="about-box rounded-lg"><p class="mb-0 officer-about border rounded-lg">{{ officer.about }}</p></div>
      </div>
      </div>
      {% if forloop.counter|divisibleby:3 %}</div><div class="row mt-3 mb-3">{% endif %}
      {% if forloop.last %}</div>{% endif %}
    {% endfor %}
</div>

{% endblock %}
