{% extends "template.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block navlinks %}
  <a class="nav-item nav-link active" href="../">Home</a>
  <a class="nav-item nav-link" href="../rankings">Rankings</a>
  <a class="nav-item nav-link" href="../about">About</a>
{% endblock %}

{% block content %}
    <div class="container">
      <div id="carouselExampleControls" class="carousel slide pt-3" data-ride="carousel">
        <div class="carousel-inner">
        {% for CarouselImage in CarouselImageData %}
        {% if forloop.first %}
          <div class="carousel-item active carousel-img-container">
        {% else %}
          <div class="carousel-item carousel-img-container">
        {% endif %}
            <img class="d-block carousel-img-ext" src="{{ CarouselImage.picture.url }}" alt="...">
          </div>
        {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

    <div class="row">
      {% for LinkButton in LinkButtonData %}
        <div class="col">
          <div class="card mt-3">
            <div class="card-body text-center" style="display: table;">
              <h4 style="display: table-cell; vertical-align: middle;">
                <a href="{{ LinkButton.url }}">
                  {{ LinkButton.title }}
                </a>
              </h4>
            </div>
          </div>
        </div>
      {% if forloop.last %}</div>{% endif %}
      {% endfor %}
{% endblock %}
