{% extends "template.html" %}

{% load static %}
{% load mathfilters %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/rankings.css' %}">
{% endblock %}

{% block navlinks %}
  <a class="nav-item nav-link" href="../">Home</a>
  <a class="nav-item nav-link active" href="../rankings">Rankings</a>
  <a class="nav-item nav-link" href="../about">About</a>
{% endblock %}

{% block content %}
    <div class="container-fluid container-extension mt-4" id="rankingsTable">
      <p>Rankings</p>
      <div class="row">
        <div class="col-3">
          Name
          <i class="downArrow fas fa-caret-down"></i>
          <i class="upArrow fas fa-caret-up"></i>
        </div>
        <div class="col-3">
          Rating
          <i class="downArrow fas fa-caret-down"></i>
          <i class="upArrow fas fa-caret-up"></i>
        </div>
        <div class="col-3">Record</div>
        <div class="col-3 dateHeader">
          Last Active
          <i class="downArrow fas fa-caret-down"></i>
          <i class="upArrow fas fa-caret-up"></i>
        </div>
      </div>
      {% for player in playerData %}
        <div class="row sortable">
          <div class="col-3" style="text-transform:capitalize;">{{ player.firstname }} {{ player.lastname }}</div>
          {% if player.rating_diff < 0 %}
            <div class="col-3">{{ player.rating }}<div class="text-success" style="display: inline; font-size: 0.85em;"> <i class="fas fa-caret-down"></i>{{ player.rating_diff|mul:-1 }}</div></div>
          {% elif player.rating_diff > 0 %}
            <div class="col-3">{{ player.rating }}<div class="text-danger" style="display: inline; font-size: 0.85em;"> <i class="fas fa-caret-up"></i>{{ player.rating_diff }}</div></div>
          {% else %}
            <div class="col-3">{{ player.rating }}<div class="text-secondary" style="display: inline; font-size: 0.85em;"> ‒{{ player.rating_diff }}</div></div>
          {% endif %}
          <div class="col-3">
            <p class="text-success" style="display: inline-block">{{ player.wins }}</p>
            <p style="display: inline-block"> /</p>
            <p class="text-danger" style="display: inline-block">{{ player.losses }}</p>
            <p style="display: inline-block"> /</p>
            <p class="text-secondary" style="display: inline-block">{{ player.draws }}</p>
          </div>
          <div class="col-3">{{ player.last_active }}</div>
        </div>
      {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/rankings.js' %}"></script>
{% endblock %}
