{% extends "template.html" %}

{% load static %}
{% block content %}
    <div class="container-fluid container-extension mt-4">
      <p>Rankings</p>
      {% for player in playerData %}
        <div class="row">
          <div class="col-4">{{ player.firstname }} {{ player.lastname }}</div>
          <div class="col-4">{{ player.rating }}</div>
          <div class="col-4">
            <p class="text-success" style="display: inline-block">{{ player.wins }}</p>
            <p style="display: inline-block"> /</p>
            <p class="text-danger" style="display: inline-block">{{ player.losses }}</p>
            <p style="display: inline-block"> /</p>
            <p class="text-secondary" style="display: inline-block">{{ player.draws }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
{% endblock %}
